
GO
USE [Disney]
GO
/****** Object:  User [Disney]    Script Date: 10/6/2023 13:36:25 ******/
CREATE USER [Disney] FOR LOGIN [Disney] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Disney]
GO
/****** Object:  Table [dbo].[PeliculaOSerie]    Script Date: 10/6/2023 13:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliculaOSerie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](255) NOT NULL,
	[Titulo] [varchar](255) NOT NULL,
	[Fecha_de_creacion] [date] NOT NULL,
	[Calificacion] [float] NOT NULL,
 CONSTRAINT [PK__Pelicula__3214EC077CCB8AE8] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 10/6/2023 13:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](max) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [float] NOT NULL,
	[Historia] [text] NOT NULL,
 CONSTRAINT [PK__Personaj__3214EC0732AA9C17] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje_Pelicula]    Script Date: 10/6/2023 13:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje_Pelicula](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Personaje] [int] NOT NULL,
	[Id_PeliculaOSerie] [int] NOT NULL,
 CONSTRAINT [PK__Personaj__3214EC0731931B5F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PeliculaOSerie] ON 

INSERT [dbo].[PeliculaOSerie] ([Id], [Imagen], [Titulo], [Fecha_de_creacion], [Calificacion]) VALUES (1, N'https://pics.filmaffinity.com/Fantas_a-929802744-mmed.jpg', N'Fantasia', CAST(N'1940-12-25' AS Date), 3)
INSERT [dbo].[PeliculaOSerie] ([Id], [Imagen], [Titulo], [Fecha_de_creacion], [Calificacion]) VALUES (8, N'https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/caballero-luna-poster-fotogramas-1646305531.jpg?resize=480:*', N'Moonknight', CAST(N'2022-03-30' AS Date), 3)
INSERT [dbo].[PeliculaOSerie] ([Id], [Imagen], [Titulo], [Fecha_de_creacion], [Calificacion]) VALUES (23, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5HWx7MTmKYHcDR9M3SJVbue5UIWJCPYe68A&usqp=CAU', N'Blancanieves y los siete enanos', CAST(N'1937-12-21' AS Date), 4)
SET IDENTITY_INSERT [dbo].[PeliculaOSerie] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (1, N'https://vignette.wikia.nocookie.net/disney/images/e/ee/Mickey_Mouse_Transparent.png/revision/latest?cb=20210222224826', N'Mickey Mouse', 60, 35.3, N'Mickey es un ratón divertido y amigable que siempre está listo para la aventura.')
INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (3, N'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/SNOW_WHITE_DISNEY.jpg/320px-SNOW_WHITE_DISNEY.jpg', N'Blanca Nieves', 14, 40, N'una princesa bonita, encantadora, dulce y adolescente llamada Blancanieves conoce a un grupo de siete enanitos cuando huye de su malvada madrastra, la Reina Grimhilde, que ha ordenado matarla para ser más bella del reino.')
SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje_Pelicula] ON 

INSERT [dbo].[Personaje_Pelicula] ([Id], [Id_Personaje], [Id_PeliculaOSerie]) VALUES (1, 1, 1)
INSERT [dbo].[Personaje_Pelicula] ([Id], [Id_Personaje], [Id_PeliculaOSerie]) VALUES (2, 2, 8)
INSERT [dbo].[Personaje_Pelicula] ([Id], [Id_Personaje], [Id_PeliculaOSerie]) VALUES (3, 3, 23)
SET IDENTITY_INSERT [dbo].[Personaje_Pelicula] OFF
GO
ALTER TABLE [dbo].[Personaje_Pelicula]  WITH CHECK ADD  CONSTRAINT [FK__Personaje__Id_Pe__4222D4EF] FOREIGN KEY([Id_Personaje])
REFERENCES [dbo].[Personaje] ([Id])
GO
ALTER TABLE [dbo].[Personaje_Pelicula] CHECK CONSTRAINT [FK__Personaje__Id_Pe__4222D4EF]
GO
ALTER TABLE [dbo].[Personaje_Pelicula]  WITH CHECK ADD  CONSTRAINT [FK__Personaje__Id_Pe__4316F928] FOREIGN KEY([Id_PeliculaOSerie])
REFERENCES [dbo].[PeliculaOSerie] ([Id])
GO
ALTER TABLE [dbo].[Personaje_Pelicula] CHECK CONSTRAINT [FK__Personaje__Id_Pe__4316F928]
GO
USE [master]
GO
